.login-signup {
    width: 100%;
    height: 120vh;
    background-color: #fce3fe;
    padding-top: 100px;
}

.login-signup-container {
    width: 580px;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;

    h1 {
        margin: 20px 0;
    }

    button {
        width: 100%;
        height: 54px;
        color: white;
        background-color: #ff4141;
        margin-top: 30px;
        border: none;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;
    }
}

.login-signup-fields {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 29px;

    input {
        height: 54px;
        width: 100%;
        padding-left: 20px;
        border: 1px solid #c9c9c9;
        outline: none;
        color: #5c5c5c;
        font-size: 18px;
    }
}

.login-signup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;

    span {
        color: #ff4141;
        font-weight: 600;
        cursor: pointer;
    }
}

.login-signup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}
