.shop-category-banner {
    display: block;
    width: 82%;
    margin: 30px auto;
}

.shop-category-indexSort {
    display: flex;
    width: 82%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    p {
        span {
            font-weight: 600;
        }
    }
}

.shop-category-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shop-category-products {
    margin: 20px auto;
    width: 82%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.shop-category-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .shop-category-banner {
        margin: 20px auto;
        width: 90%;
    }
    .shop-category-indexSort {
        width: 90%;
        margin: auto;
    }
    .shop-category-sort {
        padding: 5px 10px;
        font-size: 12px;

        p {
            font-size: 12px;
        }
    }
    .shop-category-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
        gap: 15px;

        .item {
            margin: auto;
        }
    }
    .shop-category-loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .shop-category-banner {
        width: 95%;
    }

    .shop-category-products {
        width: 95%;
    }

    .shop-category-loadmore {
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .shop-category-products {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
