.product-display {
    display: flex;
    margin: 0px 140px 56px;
}

.product-display-left {
    display: flex;
    gap: 17px;
}

.product-display-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
        height: 120px;
    }
}

.product-display-main-img {
    height: 528px;
}

.product-display-right {
    margin: 0px 48px;
    display: flex;
    flex-direction: column;

    h1 {
        color: #3d3d3d;
        font-size: 28px;
        font-weight: 600;
    }

    button {
        padding: 16px 24px;
        width: 160px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        background-color: #ff4141;
        margin-bottom: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.product-display-right-stars {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 14px;
}

.product-display-right-prices {
    display: flex;
    margin: 24px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.product-display-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.product-display-right-price-new {
    color: #ff4141;
}

.product-display-right-size {
    h1 {
        margin-top: 24px;
        color: #656565;
        font-size: 20px;
        font-weight: 600;
    }
}

.product-display-right-sizes {
    display: flex;
    margin: 20px 0;
    gap: 16px;

    div {
        padding: 12px 20px;
        background-color: #fbfbfb;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        cursor: pointer;
    }
}

.product-display-right-category {
    margin-top: 8px;

    span {
        font-weight: 600;
    }
}
