.product-display {
    display: flex;
    margin: 0px 140px 56px;
}

.product-display-left {
    display: flex;
    gap: 17px;
}

.product-display-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
        height: 120px;
    }
}

.product-display-main-img {
    height: 528px;
}

.product-display-right {
    margin: 0px 48px;
    display: flex;
    flex-direction: column;

    h1 {
        color: #3d3d3d;
        font-size: 28px;
        font-weight: 600;
    }

    button {
        padding: 16px 24px;
        width: 160px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        background-color: #ff4141;
        margin-bottom: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.product-display-right-stars {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 14px;
}

.product-display-right-prices {
    display: flex;
    margin: 24px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.product-display-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.product-display-right-price-new {
    color: #ff4141;
}

.product-display-right-size {
    h1 {
        margin-top: 24px;
        color: #656565;
        font-size: 20px;
        font-weight: 600;
    }
}

.product-display-right-sizes {
    display: flex;
    margin: 20px 0;
    gap: 16px;

    div {
        padding: 12px 20px;
        background-color: #fbfbfb;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        cursor: pointer;
    }
}

.product-display-right-category {
    margin-top: 8px;

    span {
        font-weight: 600;
    }
}

@media (max-width: 1280px) {
    .product-display {
        margin: 0 60px;
    }
    .product-display-left {
        gap: 10px;
    }
    .product-display-img-list {
        gap: 10px;
    }

    .product-display-main-img {
        height: 510px;
    }
    .product-display-right {
        margin: 0 30px;

        h1 {
            font-size: 22px;
        }

        button {
            width: 150px;
            padding: 15px 0;
            margin-bottom: 20px;
        }
    }
    .product-display-right-stars {
        gap: 3px;
        font-size: 13px;
    }
    .product-display-right-prices {
        margin: 10px 0;
        font-size: 18px;
    }
    .product-display-right-description {
        font-size: 14px;
    }
    .product-display-right-size {
        h1 {
            margin-top: 20px;
            font-size: 20px;
        }
    }
    .product-display-right-category {
        margin-top: 5px;
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .product-display {
        margin: 0 30px;
    }
    .product-display-left {
        gap: 5px;
    }
    .product-display-img-list {
        gap: 5px;

        img {
            height: 80px;
        }
    }

    .product-display-main-img {
        height: 335px;
    }
    .product-display-right {
        h1 {
            font-size: 18px;
        }

        button {
            width: 120px;
            padding: 10px 0;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .product-display-right-stars {
        img {
            width: 15px;
        }
    }
    .product-display-right-description {
        font-size: 13px;
    }
    .product-display-right-sizes {
        margin-top: 10px;

        div {
            padding: 10px 16px;
            font-size: 12px;
        }
    }
    .product-display-right-category {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .product-display {
        margin: 0 10px;
    }
    .product-display-left {
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-display-img-list {
        gap: 6px;
        flex-direction: row;

        img {
            height: 70px;
        }
    }

    .product-display-main-img {
        height: 300px;
    }
    .product-display-right {
        h1 {
            font-size: 14px;
        }

        button {
            width: 100px;
            font-size: 12px;
        }
    }
    .product-display-right-stars {
        img {
            width: 13px;
        }
    }
    .product-display-right-description {
        font-size: 12px;
    }
    .product-display-right-size {
        h1 {
            margin-top: 10px;
        }
    }
    .product-display-right-sizes {
        margin-top: 10px;
        gap: 5px;

        div {
            padding: 4px 11px;
        }
    }
    .product-display-right-category {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .product-display {
        flex-direction: column;
    }
    .product-display-left {
        gap: 10px;
        flex-direction: row;
        margin: auto;
        align-items: start;
    }
    .product-display-img-list {
        flex-direction: column;
        gap: 8px;

        img {
            height: 75px;
        }
    }
    .product-display-main-img {
        height: 330px;
    }
    .product-display-right {
        margin: 5px;

        h1 {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 500;
        }

        button {
            width: 130px;
            font-size: 15px;
            padding: 12px 0;
        }
    }
    .product-display-right-stars {
        img {
            width: 15px;
        }
    }
    .product-display-right-sizes {
        gap: 10px;
        margin: 20px 0;
    }
    .product-display-right-sizes {
        div {
            padding: 10px 16px;
            font-size: 14px;
        }
    }
    .product-display-right-category {
        font-size: 16px;
    }
}
